
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=Raleway&family=Roboto+Condensed:ital,wght@1,300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Bree Serif', serif;
}

html {
  font-size: 62.5%;
}

.container {
  background-color: #bb2b2b;
}

.container nav {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  margin-bottom: 15px;
  color: #333;
  display: flex;
  justify-content: flex-end;
  font-family: 'Frank Ruhl Libre', serif;
  



}

.container nav i {
  font-size: 3rem;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #000000;
  padding: 10px;
  position: sticky;
  
}

.grid {
  display: grid;
  margin: auto;
  max-width: 1100px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  justify-content: center;
  padding-bottom: 50px;
}

.items {
  background-color: #fff;
  border: solid thin #e1e1e1;
}

.items img {
  width: 100%;
  height: 170px;

}

.info {
  padding: 15px;

}

.info h3 {
  font-size: 1.6rem;
}

.info p {
  font-size: 1.8rem;
}

.precio p:first-child {
  text-decoration: line-through;
}

.precio {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.precio p {
  font-size: 1.5rem;
}

.info h3,
.info p {
  color: #222;
  margin-bottom: 15px;
}

.info button {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  color: #ffff;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: #0a1113;
}


.nav-card {
  display: none;
}

.container nav i:hover>.buy-card {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0;
  background-color: #ffff;
}

.container nav i {
  font-size: 3rem;
  cursor: pointer;
}

.container nav i:hover .nav-card {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid thin #e1e1e1;
}

.container nav button {
  display: none;

}

.nav-card li {
  list-style: none;
  padding: 1rem;
  font-weight: bold
}

.container nav i:hover .buy-card>button {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 10px auto;
  background-color: transparent;
  border: solid thin #e1e1e1;
  color: #494848;
  cursor: pointers;

}

.container nav i:hover .buy-card>button:hover {
  border: solid thin #494848;
  transition: all .4s;
}